<div class="app-content-component">
  <mat-card class="app-content-component__card">
      <mat-card-title>
          Balast control...
        </mat-card-title>
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="balastControlState$ | async" (change)="handleBalastControlChange($event)">
          <mat-button-toggle value="left">
            <mat-icon>format_align_left</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="center">
            <mat-icon>format_align_center</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="right">
            <mat-icon>format_align_right</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="justify">
            <mat-icon>format_align_justify</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
  </mat-card>
  <mat-card class="app-content-component__card">
    <mat-card-title>
      Propulsion...
    </mat-card-title>
      <mat-slide-toggle
        class="example-margin"
        [color]="slColor"
        [checked]="hyperdriveState$ | async"
        [disabled]="slDisabled"
        (change)="handlePropulsionChange($event)">
      Hyperdrive
    </mat-slide-toggle>
  </mat-card>
  <mat-card class="app-content-component__card" >
      <mat-card-title>
          Destination...
        </mat-card-title>
      <mat-form-field>
          <mat-select 
            [value]="destinationState$ | async"
            (selectionChange)="handleDestinationChange($event)">
            <mat-option>None</mat-option>
            <mat-option value="aldebaran">Aldebaran</mat-option>
            <mat-option value="endor">Endor</mat-option>
            <mat-option value="hoth">Hoth</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card>
  <mat-card class="app-content-component__card" >
      <mat-card-title>
          Transport Agency...
        </mat-card-title>
      <mat-form-field>
          <mat-select 
            [value]="transportAgencyState$ | async"
            (selectionChange)="handleTransportAgencyChange($event)">
            <mat-option>None</mat-option>
            <mat-option value="empire">Empire</mat-option>
            <mat-option value="rebellion">Rebellion</mat-option>
            <mat-option value="smuggler">Smuggler</mat-option>
            <mat-option value="startours">Star Tours</mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card>
  <mat-card class="app-content-component__card" >
      <mat-card-title>
          Crew...
        </mat-card-title>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).calrisianValue">Lando Calrisian</mat-checkbox>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).chewbaccaValue">Chewbacca</mat-checkbox>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).kenobiValue">Obi-wan Kenobi</mat-checkbox>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).organaValue">Leia Organa</mat-checkbox>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).skywalkerValue">Luke Skywalker</mat-checkbox>
        <mat-checkbox class="app-content-component__checkbox" [checked]="(crewState$ | async).soloValue">Han Solo</mat-checkbox>
  </mat-card>
  <mat-card class="app-content-component__card" >
      <mat-card-title>
        Weapon's Compliment...
      </mat-card-title>
      <mat-checkbox class="app-content-component__checkbox" [ngModel]="(weaponsComplimentState$ | async).blastersValue">Blasters</mat-checkbox>
      <mat-checkbox class="app-content-component__checkbox" [ngModel]="(weaponsComplimentState$ | async).cannonsValue">Energy Cannons</mat-checkbox>
      <mat-checkbox class="app-content-component__checkbox" [ngModel]="(weaponsComplimentState$ | async).sabersValue">Light Sabers</mat-checkbox>
      <mat-checkbox class="app-content-component__checkbox" [ngModel]="(weaponsComplimentState$ | async).tractorBeamValue">Tractor Beam</mat-checkbox>
  </mat-card>
</div>